data/seqtab_filter.07.txt
*.DS_Store
*.Rhistory
__pycache__/

.ipynb_checkpoints

profile_default/
ipython_config.py

.spyderproject
.spyproject

*.swp

prediction_experiments/prediction_results_meta=False.obj
prediction_experiments/prediction_results_meta=True.obj

data/otu_objs/*
